


.imagem {   
    height:auto; background-size:cover; width:auto;
    background-image:url('../../../assets/background.png');
    background-position:50% 50%;
}

.iss {
    
    width: 60%;
    height: 540px;
}