<br><br><br><br><br>

<div  fxLayout="row" fxLayoutAlign="space-around center" >
  
  <div align="center" fxLayout="row" fxLayoutAlign="center center"  class="register-form">

    <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
      
    <mat-card class="mat-elevation-z8" flex="80">
      
      <mat-card-title>Criar um Usuário</mat-card-title>

      <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
                    
        <div fxLayout="row" fxLayoutAlign="space-between stretch" >
          <mat-form-field fxFlex="100" >
            <input matInput type="text" formControlName="nome" [(ngModel)]="passwords.nome"
              class="form-control" value="" [matAutocomplete]="nome" placeholder="Nome" >
              <mat-autocomplete #nome="matAutocomplete">
                <mat-option *ngFor="let c of colaboradores" [value]="c.nome">
                  {{c.nome}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>  
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch">
          <mat-form-field fxFlex="100">
            <input matInput type="email" formControlName="email" [matAutocomplete]="email" [(ngModel)]="passwords.email"
              class="form-control"  autocomplete="c.email" placeholder="Email" >
              <mat-autocomplete #email="matAutocomplete">
                <mat-option *ngFor="let c of colaboradores" [value]="c.email">
                  {{c.email}}
                </mat-option>
              </mat-autocomplete>
          </mat-form-field>  
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">

          <mat-form-field  fxFlex="45">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password1" [(ngModel)]="passwords.password1"
              placeholder="Crie sua Senha">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>
          <mat-form-field fxFlex="45">
            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password2" [(ngModel)]="passwords.password2"
              class="form-control"  placeholder="Confirme sua Senha">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
          </mat-form-field>

        </div>


        <div fxLayout="row" fxLayoutAlign="end end"  fxLayoutGap="20px">
          <button mat-raised-button color="warn" type="button" (click)="cancel()">
            Cancelar
          </button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!formRegister.valid">
            Redefinir senha
          </button>
        </div>



        </mat-card-content>
    </mat-card>
    </form>


  </div>
</div>
