<div style="background-color: #ade0d7;">
    <br><br><br><br><br>
    
    <div  fxLayout="row" fxLayoutAlign="space-around center" >
      
      <div align="center" fxLayout="row" fxLayoutAlign="center center"  class="register-form">
      <mat-card class="mat-elevation-z8" flex="80">
        <mat-card-title fxLayout="row" fxLayoutAlign="space-around center">
          <h1>Apagar Produto</h1> 
        </mat-card-title>
          <br><br>
        <mat-card-content fxLayoutAlign="space-around center">
            <form role="form" fxLayout="column" fxLayoutAlign="start stretch">
                <div  fxLayout="column" fxLayoutAlign="space-between  begin">
                  <mat-form-field class="form">
                    <input matInput [(ngModel)]="produtos.nome" type="text" name="nome" disabled placeholder="Nome">
                  </mat-form-field>
                <div fxFlex="100"  fxLayout="row" fxLayoutAlign="space-between  begin" fxLayoutGap="20px">
                  <mat-form-field fxFlex="30" >
                     <input matInput [(ngModel)]="produtos.quantidade" type="number" name="quantidade" disabled placeholder="Quantidade">
                  </mat-form-field> 
                  <mat-form-field fxFlex="30" >
                    <input matInput [(ngModel)]="produtos.preco" type="text" name="preco" disabled placeholder="Preço"
                    [hiddenInput]="true" mask="separator.2" thousandSeparator="." prefix="R$">
                 </mat-form-field>     
                  <mat-form-field fxFlex="30">
                    <input matInput [(ngModel)]="produtos.validade" type="date" name="nascimento" disabled placeholder="Data de Nascimeto">
                  </mat-form-field>           
                </div>
                <mat-form-field class="form">
                    <input matInput [(ngModel)]="produtos.codigoDeBarra" type="text" name="codigoDeBarra" disabled placeholder="Código de Barra">
                  </mat-form-field>
                </div>
             
                  <div class="btn" [align]="'end'" fxLayoutGap="10px">
                    <button mat-raised-button color="warn" type="button" (click)="cancel()">Cancelar</button>
                    <button mat-raised-button color="primary" type="submit" (click)="delete()"> Apagar </button>
                  </div>
                
            </form>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
    <br><br><br>
    </div>

