
.icon {
  font-size: 2.5rem;
  margin-right: 2rem;
}

span {
    font-size: 1.3rem;
  }
  
  .content {
    position: relative;
    height: auto;
    background-color: #ade0d7;
  }

  .button {
    width: 20rem;    
  }
  
  .button:hover {
    width: 30rem;
    transition: 0.3s ease-in-out;
    background-color: #6ebc09;
    color: antiquewhite;
  }
  
  
  mat-card-title {
    color: antiquewhite;
    background-color: #6ebc09;
  }
  
  label {
    margin-top: 45px;
    text-align: center;
  }

  mat-icon {
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 2rem;
  }

  mat-card-title {
    color: antiquewhite;
    background-color: #6ebc09;
}
  
  
  
  
  
  
  
  
  
  